@media all and (max-width: 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 8px 20px;
        font-size: 15px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #ffffff;
        color: #333;
        cursor: pointer;
    }

    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 5px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .toggle:hover {
        color: #333;
        background-color: #fff;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
        background: rgba(16, 16, 16, 0.85);
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }

    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
    nav ul ul li a {
        color: #fff;
        font-size: 0.85em;
    }
    nav ul li {
        display: inline-block;
        width: 100%;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1280px) {
    p.banp.mt-3 {
        width: 74%;
    }

    .about-wrapper,
    .gallery,
    .services-wrap,
    .contacts {
        padding: 5em 5em;
    }
}

@media screen and (max-width: 1080px) {
    .sidenav {
        width: 260px;
    }

    .side_top_right h6 {
        padding: 0.5em 1em 0 0em;

    }

    .side_top_right p {
        padding: 0.5em 2em 0 0em;
    }

    .main {
        margin-left: 260px;
    }

    .about_p {
        font-size: 1em !important;
    }

    .main_p {
        font-size: 1em !important;
    }

    .contacts_grid {
        width: 100%;
    }

    .popup {
        width: 63%;
    }
}

@media screen and (max-width: 991px) {
    .main-banner h1 {
        font-size: 2em !important;
    }

    p.banp {
        width: 100%;
        font-size:18px !important;
    }

    h2.heading, h3.heading {
        font-size: 2.5em !important;
    }
}

@media screen and (max-width: 900px) {
    ul.social_section a {
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    .about-wrapper {
        padding: 3em 2em;
    }

    .gallery {
        padding: 3em 2em;
    }

    .services-wrap {
        padding: 3em 2em;
    }

    .contacts {
        padding: 3em 2em;
    }
}

@media screen and (max-width: 768px) {
    .sidenav {
        width: 100%;
        height: 60%;
        position: relative;
    }

    .main {
        margin-left: 0;
    }

    header {
        padding-top: 0;
    }

    nav ul {
        position: static;
    }
}

@media screen and (max-width: 736px) {
    .main-banner h1 {
        font-size: 1.8em !important;
    }

    .gallery-top {
        margin-top: 3em;
    }

    .popup {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 568px) {

}

@media screen and (max-width: 480px) {
    ul.social_section a {
        margin-right: 10px;
    }

    .follow {
        margin: 3em 0;
    }

    .main-banner h1 {
        font-size: 1.5em !important;
    }

    h2.heading, h3.heading {
        font-size: 2.2em !important;
    }
}

@media screen and (max-width: 440px) {
    ul.social_section a {
        margin-right: 5px;
    }
}

@media screen and (max-width: 414px) {
    ul.social_section a {
        margin-right: 2px;
    }
}

@media screen and (max-width: 384px) {
    .main-banner h1 {
        font-size: 1.4em !important;
    }

    .side_top_right h6 {
        padding: 0.5em 0.5em 0 0em;
    }

    .side_top_right p {
        padding: 0.5em 1em 0 0em;
    }

    ul.social_section a {
        margin-right: 24px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    .main-banner {
        padding: 16vw 0;
    }
}

@media screen and (max-width: 320px) {
    .main-banner h1 {
        font-size: 1.3em !important;
    }

    .main-banner {
        padding: 15vw 0;
    }

    .sidenav {
        padding-top: 0px;
    }

    .about-wrapper {
        padding: 2em 1em;
    }

    h2.heading, h3.heading {
        font-size: 2em !important;
    }

    .gallery {
        padding: 2em 1em;
    }

    .services-wrap {
        padding: 2em 1em;
    }

    .contacts {
        padding: 2em 1em;
    }
}