html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}

body a,
.slider-info a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
    cursor:pointer !important;
}

button,
.btn {
    cursor:pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

/*-- nav block --*/
.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #000000;
    overflow-x: hidden;
    padding-top: 20px;
}

.navimg {
    border-radius: 50%;
    margin: 0 auto;

}

header {
    position: relative;
    z-index: 9;
    width: 100%;
    padding-top: 4em;
}

.toggle,
[id^=drop] {
    display: none;
}

nav {
    margin: 0;
    padding: 0;
}

.side_top_right h6 {
    color: #ff4f81;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 1px;
    padding: 0.5em 2em 0 0em;
    text-align: right;
}

.side_top_right p {
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 1px;
    padding: 0.5em 3em 0 0em;
    text-align: right;
}

.side_top {
    padding: 1em 1em;
}

.side_top_right{
    padding:0;
}

nav.mnu {
    text-align: right;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: block;
}

nav a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav a:hover {
    color: #ff4f81;
}

.menu li.active a {
    color: #ff4f81;
}

.main {
    margin-left: 320px;
}

.banner-text {
    background: url(../images/main-bg.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 17vw 0;
}

.banner-text h1 {
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 300;
}

p.banp.mt-3 {
    font-size: 22px;
    letter-spacing: 2px;
    color: rgba(238, 238, 238, 0.61);
    width: 50%;
    font-weight: 300;
}
.agile-link-bnr {
    padding: 10px 40px;
    color: rgba(243, 243, 243, 0.65);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.agile-link-bnr:hover {
    background:#ff4f81;
    border: 1px solid #ff4f81;
}

.gallery {
    padding: 5em 8em;
    background: #f5fafa;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.17);
}

.gallery-grids h4 {
    letter-spacing: 3px;
    color: #212528;
    background: #fff;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 1.2em;
    text-align: center;
}

.gallery-top {
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
}


/*-- popups --*/
.pop-overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
}

.pop-overlay:target {
    visibility: visible;
    opacity: 1;
    z-index:1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    margin: 8em auto;
    padding: 3em 1em;
}

.popup p {
    font-size: 15px;
    color: #666;
    letter-spacing: .5px;
    line-height: 30px;
}

.popup h2 {
    margin-top: 0;
    color: #fff;

}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #30c39e;
}

/*-- end popups --*/
