html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}

body a,
.slider-info a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
    cursor:pointer !important;
}

button,
.btn {
    cursor:pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

/*-- nav block --*/
.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #000000;
    overflow-x: hidden;
    padding-top: 20px;
}

.navimg {
    border-radius: 50%;
    margin: 0 auto;

}

header {
    position: relative;
    z-index: 9;
    width: 100%;
    padding-top: 4em;
}

.toggle,
[id^=drop] {
    display: none;
}

nav {
    margin: 0;
    padding: 0;
}

.side_top_right h6 {
    color: #ff4f81;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
    letter-spacing: 1px;
    padding: 0.5em 2em 0 0em;
    text-align: right;
}

.side_top_right p {
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 1px;
    padding: 0.5em 3em 0 0em;
    text-align: right;
}

.side_top {
    padding: 1em 1em;
}

.side_top_right{
    padding:0;
}

nav.mnu {
    text-align: right;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0px;
    display: block;
}

nav a {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

nav a:hover {
    color: #ff4f81;
}

.menu li.active a {
    color: #ff4f81;
}

.main {
    margin-left: 320px;
}

/*-- first screen --*/
.main-banner {
    background: url(../images/main-bg.jpg) no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
    padding: 17vw 0;
}

.main-banner h1 {
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 300;
}

p.banp.mt-3 {
    font-size: 22px;
    letter-spacing: 2px;
    color: rgba(238, 238, 238, 0.61);
    width: 50%;
    font-weight: 300;
}
.agile-link-bnr {
    padding: 10px 40px;
    color: rgba(243, 243, 243, 0.65);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.agile-link-bnr:hover {
    background:#ff4f81;
    border: 1px solid #ff4f81;
}
/*-- end first screen --*/

h2.heading,
h3.heading {
    font-weight: 400;
    color: #483949;
    font-size: 2.85em;
    letter-spacing: 0.075em;
    line-height: 1.35em;
    margin-bottom: 0.5em;
}

/*-- about --*/
section.about-wrapper {
    padding: 5em 8em;
    text-align: center;
    background: #fff;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.17);
}

p.about_p {
    font-size: 1.3em;
    line-height: 1.8em;
    letter-spacing: 0.075em;
    color: #777;
    font-weight: 300;
}
/*-- end about --*/

/*-- gallery --*/
.gallery {
    padding: 5em 8em;
    background: #f5fafa;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.17);
}

.gallery-grids h4 {
    letter-spacing: 3px;
    color: #212528;
    background: #fff;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 1.2em;
    text-align: center;
}

.gallery-top {
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
}
/*-- end gallery --*/

/*-- popups --*/
.pop-overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
}

.pop-overlay:target {
    visibility: visible;
    opacity: 1;
    z-index:1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    margin: 8em auto;
    padding: 3em 1em;
}

.popup p {
    font-size: 15px;
    color: #666;
    letter-spacing: .5px;
    line-height: 30px;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #30c39e;
}
/*-- end popups --*/

/*-- contacts --*/
.contacts {
    padding: 5em 8em;
    background: #e8edec;
    text-align:center;
}

p.contacts_p {
    font-size: 1.4em;
    line-height: 1.8em;
    letter-spacing: 0.075em;
    color: #777;
    font-weight: 300;
}

.contacts_grid {
    width: 80%;
}

.contacts_grid input[type="text"],
.contacts_grid input[type="email"],
.contacts_grid textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    letter-spacing: 1px;
    border: solid 1px rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
    margin-top: 1em;
}

.contacts_grid input[type="text"]:nth-child(2),
.contacts_grid input[type="email"] {
    margin: 1em 0 0;
}

.contacts_grid textarea {
    min-height: 17em;
    margin: 1em 0em;
    resize: none;
}

.contacts_grid input[type="submit"],
.contacts_grid input[type="reset"] {
    outline: none;
    padding: 16px 40px;
    font-size: 1.1em;
    color: #fff;
    background: #ff4f81;
    border: none;
    letter-spacing: 2px;
    border-radius: 0.25em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 700;
    cursor: pointer;
}

.contacts_grid input[type="submit"]:hover {
    background-color: #000;
}

.follow {
    padding: 2em 0;
    margin: 5em 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

ul.social_section li {
    display: inline-block;
}

ul.social_section li a {
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    line-height: 47px;
    border-radius: 5px;
    border: 1px solid #484848;
    background: #272727;
    color: #999;
    margin-right: 30px;
    font-size: 22px;
}

ul.social_section a:hover {
    color: #fff;
}

.copyright p{
    color:#999;
}

.copyright p a {
    color: #ff4f81;
}

.copyright p a:hover{
    color:#999;
}
/*-- end contacts --*/